/* Color theme not bright,2-3 colors animation type=hover-slide in */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
*{
  color: white;
  font-family: 'Libre Franklin', sans-serif !important;
}
/* [data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
} */
/* body{
  background-color: rgb(51 54 70);
  background-image: url(https://wallpaperbat.com/img/255360-dark-space-wallpaper-hd.jpg);
} */

#particular{
  position: fixed;
  background-color: rgb(51 54 70);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/* Landing Section */
#landing .row{
  background-color: rgb(18 21 36);
  border-radius: 30px;
  margin: 0;
}
.rpic{
  /* My img of Myself */
  padding: 2px;
  width: 500px;
}
/* nav bar toggler color */
.navbar-light .navbar-toggler{
  color: rgb(254, 255, 251);
  border-color: white;
}
/* About Section */
#about{
  /* To give space between section,just see what it does */
  scroll-margin: 60px;
}
.card{
  background-color: rgb(18 21 36);
  border-radius: 30px;
  /* padding: 0 100px 0 100px; */
}
#gitbig{
  transition: 0.6s;
}
#gitbig:hover{
  transform: scale(2.2);
}
/* Skills and Education Section */
#skills .row{
  background-color: rgb(18 21 36);
  border-radius: 30px;
  margin: 0;
}
#skills{
  scroll-margin: 90px;
}
.card-group ul li{
  list-style: none;
}
.padwords{
  /* padding-left: 200px; */
  border-left: 5px solid white;
  border-radius: 14px;
}
#li-icon{
  font-size: 2em;
}
/* Work-&-Education Section */
#work-and-education{
  scroll-margin: 90px;
}

/* Project Section */
#projects{
  scroll-margin: 80px;
  overflow-x: hidden;
}
.projects-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.img-size{
  height:150px !important;
  width: 100%;
}
/* SIZES IMAGES */
.projects-container img{
  max-height:400px;
  max-width: 100%;
  flex-grow: 1;
  object-fit: cover;
  transition: .8s;
  border-radius: 30px;
  /* opacity: .5; */
}
/* WRAPS AROUND IMG */
.img-container {
  position: relative;
}
/* BECOMES OPAQUE WHEN HOVER */
.img-container:hover > img{
  opacity: .75;
}
/* CENTERS BUTTONS IN IMG */
.btn-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SETS BTN TO INVISIBLE */
.img-container .btn-center .btn {
  visibility: hidden;
  opacity: 0;
  transition: .8s;
}
/* SHOWS BUTTONS WHEN HOVER */
.img-container:hover>.btn-center .btn {
  visibility: visible;
  opacity: 1;
}
.btn-center a{
  background-color:rgb(51 54 70) ;
  color: rgb(255, 255, 255);
}
.btn-center a:hover{
  background-color: rgb(18 21 36);
  color: rgb(255, 255, 255);
}
/* Testimonials Section */
#testimonials{
  scroll-margin: 60px;
}
.carousel-item{
  height: 420px;
}
#testimonials .row{
    background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgb(18 21 36),
        rgba(51, 54, 70, 0.45)
      ),
      /* bottom, image */
      url(https://images.hdqwalls.com/download/small-memory-8k-2a-1920x1080.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-position:cover;
      border-radius: 30px;
      margin: 0;
}
.img-testimonials{
  /* For image to be in a circle */
  /* to move img to center,padding doesnt work*/
  margin-left: 31em;
  width: 20em !important;
  height: 23em;
  border-radius: 50%;
  /* object-fit makes pic not blur or stretch */
  object-fit: cover;
}
/* To make buttons into circles */
.circle{
  /* To mave buttons */
  margin-bottom: -14px;
  width: 50px ;
  height: 30px !important;
  /* aspect-ratio: 1 ; find out what this does */
  /* To make circle */
  border-radius: 50% ;
}
@media screen and (min-width:375px) and (max-width:376px) {
  .img-testimonials{
    margin-left:2em;
  }
  .carousel-item {
    height: 506px;
}
}
@media screen and (min-width:425px) and (max-width:426px) {
  .img-testimonials{
    margin-left:3em;
  }
  .carousel-item {
    height: 485px;
}
}
@media screen and (max-width:320px){
  .img-testimonials{
    margin-left:0em;
  }
  .carousel-item {
    height: 533px;
}
}
@media screen and (min-width:768px) and (max-width:769px) {
  .img-testimonials{
    margin-left:12em;
  }
  .carousel-item {
    height: 442px;
}
.img-size {
  height: 96px !important;
}
}
@media screen and (min-width:1024px) and (max-width:1025px) {
  .img-testimonials{
    margin-left:19em;
  }
  .carousel-item {
    height: 440px;
}
}
/* Contact Section */
#contact{
  scroll-margin: 90px;
}
#contact .row{
  background-color: rgb(18 21 36);
  border-radius: 30px;
}
#form{
  margin-left: 400px;
}
#Name{
  border-radius: 10px;
}
#Surname{
  border-radius: 10px;
}
#Email{
  border-radius: 10px;
}
#message{
  width: 200px;
  border-radius: 10px;
}
#submit {
  background-color: rgb(51 54 70);
  border-radius: 10px;
  transition: 0.6s;
}
#submit:hover{
  transform: scale(1.2);
}
@media screen and (min-width:320px) and (max-width:321px) {
  #form{
    margin-left: 23px;
  }
}
@media screen and (max-width:375px){
  #message{
    width: 202px;
  }
  #form{
    margin-left: 0;
  }
  .img-testimonials{
    margin-left:0;
  }
  .carousel-item {
    height: 440px;
}
}
@media screen and (min-width:375px) and (max-width:376px) {
  #message{
    width: 199px;
  }
  #form{
    margin-left: 50px;
  }
}
@media screen and (min-width:425px) and (max-width:426px) {
  #form{
    margin-left: 90px;
  }
  #message{
    width: 199px;
  }
}
@media screen and (min-width:768px) and (max-width:769px) {
  #form{
    margin-left: -9px;
  }
  #contact h2{
    margin-right: 226px;
  }
}
@media screen and (min-width:1024px) and (max-width:1025px) {
  #form {
    margin-left: 231px;
}
}
/* Footer section */
#footer{
  background-color: rgb(18 21 36);
}
.icon-size{
  font-size: 3em;
}
#footer a{
  color: red;
}
#gitbig2{
  transition: 0.6s;
}
#gitbig2:hover{
  transform: scale(1.2);
}
