/* Color theme not bright,2-3 colors animation type=hover-slide in */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
*{
  color: white;
  /* font-family: 'Libre Franklin', sans-serif !important; */
}
body{
  background-color: rgb(51 54 70);
  /* background-image: url(https://wallpaperbat.com/img/255360-dark-space-wallpaper-hd.jpg); */
}
/* Landing Section */
#landing .row{
  background-color: rgb(18 21 36);  border-radius: 30px;
}
.rpic{
  /* My img of Myself */
  padding: 2px;
  width: 500px;
}
/* nav bar toggler color */
.navbar-light .navbar-toggler{
  color: rgb(254, 255, 251);
}
/* About Section */
#about{
  /* To give space between section,just see what it does */
  scroll-margin: 90px;
}
.card{
  background-color: rgb(18 21 36);
  border-radius: 30px;
  /* padding: 0 100px 0 100px; */
}
/* Skills and Education Section */
#skills .row{
  background-color: rgb(18 21 36);
  border-radius: 30px;
}
#skills{
  scroll-margin: 90px;
}
.card-group ul li{
  list-style: none;
}
.padwords{
  /* padding-left: 200px; */
  border-left: 5px solid white;
  border-radius: 14px;
}
/* Work-&-Education Section */
#work-and-education{
  scroll-margin: 90px;
}

/* Portfolio Section */
.projects-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
/* SIZES IMAGES */
.projects-container img{
  max-height:400px;
  max-width: 100%;
  flex-grow: 1;
  object-fit: cover;
  transition: .8s;
  border-radius: 30px;
  /* opacity: .5; */
}
/* WRAPS AROUND IMG */
.img-container {
  position: relative;
}
/* BECOMES OPAQUE WHEN HOVER */
.img-container:hover > img{
  opacity: .75;
}
/* CENTERS BUTTONS IN IMG */
.btn-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SETS BTN TO INVISIBLE */
.img-container .btn-center .btn {
  visibility: hidden;
  opacity: 0;
  transition: .8s;
}
/* SHOWS BUTTONS WHEN HOVER */
.img-container:hover>.btn-center .btn {
  visibility: visible;
  opacity: 1;
}
.btn-center  a:hover{
  background-color: rgb(251, 255, 255);
  color: yellowgreen;
}
/* Testimonials Section */
#testimonials .row{
    background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgb(18 21 36),
        rgba(51, 54, 70, 0.45)
      ),
      /* bottom, image */
      url(https://picsum.photos/1920/1080);
      background-size: cover;
      background-attachment: fixed;
      background-position:cover;
      border-radius: 30px;
}
.img-testimonials{
  /* For image to be in a circle */
  /* to move img to center,padding doesnt work*/
  margin-left: 31em;
  width: 20em !important;
  height: 23em;
  border-radius: 50%;
  object-fit: cover;
}
/* To make buttons into circles */
.circle{
  /* To mave buttons */
  margin-bottom: -14px;
  width: 50px ;
  height: 30px !important;
  /* aspect-ratio: 1 ; find out what this does */
  /* To make circle */
  border-radius: 50% ;
}
/* Contact Section */
#contact .row{
  background-color: rgb(18 21 36);
  border-radius: 30px;
}
/* Footer section */
#footer{
  background-color: rgb(18 21 36);
}
.icon-size{
  font-size: 3em;
}

/* Media Queres for testimonials */
@media only  screen and (max-width:1024px){
  .img-testimonials{
    margin-left:19em;
  }
}
@media only  screen and (max-width:771px){
  .img-testimonials{
    margin-left:7em;
  }
}
@media only  screen and (max-width:776px){
  .img-testimonials{
    margin-left:6em;
  }
}
@media only  screen and (max-width:564px){
  .img-testimonials{
    margin-left:7em;
  }
}
@media only  screen and (max-width:375px){
  .img-testimonials{
    margin-right:5em;
  }
}
@media only  screen and (max-width:320px){
  .img-testimonials{
    margin-left:0em;
  }
}